@use 'utils';
@use './common/Header';
@use './common/Button';
@use './common/Footer';
@use './common/cards/CircuitCard';
@use './common/Overlay';
@use './common/slider/Slider';

/* Home */
@use './home/Home';

/* Circuits */
@use './circuits/Circuits';


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
span,
a,
button {
  @include utils.text();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include utils.title();
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.CircuitSlider__swiper {
  height: 580px;
  @include utils.breakpoint(smallDesktop) {
    height: 440px !important;
  }
  @include utils.breakpoint(tablet) {
    height: 300px !important;
  }
  @include utils.breakpoint(mobile) {
    height: 180px !important;
  }
}
