@use 'utils';

.Button {
  background-color: utils.$buttonColor;
  color: utils.$darkbrown;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: utils.$fontSizeSmall;
  outline: none;
  border: none;
  display: inline-flex;
  cursor: pointer;
  &--transparent {
    background-color: utils.$buttonTransparent;
  }

  &--header {
    background-color: $lightbrown;
    color: $darkbrown;
    .Header--background & {
      background-color: $buttonColor;
      color: $darkbrown;
    }
  }

  &--white20 {
    background-color: rgba(white, 0.2);
    color: $lightbrown;
  }

  &--whiteSand {
    background-color: utils.$backgroundPrimary;
    color: utils.$darkbrown;
  }
}
