.Button {
  background-color: $buttonColor;
  color: $colorPrimary;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: $fontSizeSmall;
  outline: none;
  border: none;
  &--transparent {
    background-color: $buttonTransparent;
  }
}
