.Button {
  background-color: $buttonColor;
  color: $colorPrimary;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: $fontSizeSmall;
  outline: none;
  border: none;
  display: inline-flex;
  &--transparent {
    background-color: $buttonTransparent;
  }

  &--header {
    background-color: $lightbrown;
    color: $darkbrown;
    .Header--background & {
      background-color: $buttonColor;
      color: $colorPrimary;
    }
  }

  &--white20 {
    background-color: rgba(white, 0.2);
    color: $lightbrown;
  }

  &--whiteSand {
    background-color: $backgroundPrimary;
    color: $colorPrimary;
  }
}
