@use 'utils';

.Footer {
  background-color: utils.$backgroundPrimary;
  font-size: utils.$fontSizeSmall;
  color: utils.$darkbrown;
  
  @include utils.breakpoint(mobile) {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  &__container {
    @include utils.container();
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
    
    @include utils.breakpoint(mobile) {
      gap: 15px;
      padding: 15px 0;
    }
  }
  
  &__links {
    @include utils.flexBetween();
    
    @include utils.breakpoint(mobile) {
      gap: 10px;
      align-items: flex-start;
    }
    
    &__bloc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      @include utils.breakpoint(mobile) {
        gap: 5px;
        width: 90%;
      }
    }
  }
  
  &__logo {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    
    @include utils.breakpoint(mobile) {
      padding-top: 37.5px;
      
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
  
  &__copyright {
    border-top: 1px solid #50300a36;
    padding: 25px 0;
    
    @include utils.breakpoint(mobile) {
      padding: 12.5px 0;
    }
  }
}
