.Header {
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &--background {
    background-color: $backgroundPrimary;
    transition: background-color 0.5s ease;
    .Header__link {
      color: $colorPrimary;
    }
  }

  @include breakpoint(mobile) {
    height: $headerHeightMobile;
  }
  &__container {
    height: 100%;
    @include container();
    @include flexBetween();
  }

  &__logo {
    width: 90px;
    height: 90px;
    @include breakpoint(mobile) {
      width: 40px;
      height: 40px;
    }
  }

  &__links {
    @include flex(10rem);
  }

  &__link {
    font-size: $fontSizeRegular;
    color: $lightbrown;
  }
}
