@use 'utils';

.Header {
  height: utils.$headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  &--background {
    background-color: utils.$backgroundPrimary;
    transition: background-color 0.5s ease;
    .Header__link {
      color: utils.$darkbrown;
    }
  }

  @include utils.breakpoint(mobile) {
    height: utils.$headerHeightMobile;
  }
  &__container {
    height: 100%;
    padding: 0!important;
    @include utils.container();
    @include utils.flexBetween();
  }

  &__logo {
    width: 90px;
    height: 90px;
    @include utils.breakpoint(mobile) {
      width: 40px;
      height: 40px;
    }
  }

  &__links {
    @include utils.flex(10rem);
  }

  &__link {
    font-size: utils.$fontSizeRegular;
    color: utils.$lightbrown;
  }
}
