// COLORS

$lightbrown: #e4d3b9;
$darkbrown: #50300a;

$buttonColor: rgba(160, 133, 103, 0.25);
$buttonTransparent: rgba(0, 0, 0, 0);

$backgroundPrimary: #e4d3b9;
$backgroundSecondary: #f4e4d1;

// FONTS
$fontSizeRegular: 18px;
$fontSizeSmall: 14px;

// WIDTHS and HEIGHTS
$headerHeight: 110px;
$headerHeightMobile: 50px;

$containerMaxWidth: 1440px;

// SPACINGS
