// COLORS

$white: #ffffff;
$black: #000000;


$backgroundPrimary: #E4D3B9;

$colorPrimary: #131313;

// WIDTHS and HEIGHTS
$headerHeight: 80px;
$headerHeightMobile: 50px;

$footerHeight: 440px;
$footerHeightMobile: 240px;

$containerMaxWidth: 1414px;
