// COLORS

$white: #ffffff;
$black: #000000;


$backgroundPrimary: #E4D3B9;

$colorPrimary: #50300A;

// FONTS
$fontSizeRegular: 18px;
$fontSizeSmall: 16px;

// WIDTHS and HEIGHTS
$headerHeight: 110px;
$headerHeightMobile: 50px;

$footerHeight: 440px;
$footerHeightMobile: 240px;

$containerMaxWidth: 1414px;
