// COLORS

$lightbrown: #E4D3B9;
$darkbrown: #50300A;

$buttonColor: rgba(160, 133, 103, 0.25);
$buttonTransparent: rgba(0, 0, 0, 0);

$backgroundPrimary: #E4D3B9;
$backgroundSecondary: #F4E4D1;

// FONTS
$fontSizeRegular: 18px;
$fontSizeSmall: 16px;

// WIDTHS and HEIGHTS
$headerHeight: 110px;
$headerHeightMobile: 50px;

$containerMaxWidth: 1414px;

// SPACINGS
$sectionPadding: 100px 0;