@use 'utils';

.CircuitCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 20px;
  transition: background-size 0.5s ease;
  &:hover {
    background-size: 150% 150%;
  }
  &__flexItems {
    width: 100%;
    @include utils.flexBetween();
    align-items: flex-end;
    @include utils.breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  &__title {
    color: utils.$lightbrown;
    @include utils.title(50px, 16px);
  }
  &__description {
    color: utils.$lightbrown;
    @include utils.text(20px, 7px);
  }
  .Button {
    @include utils.breakpoint(mobile) {
      padding: 3px 10px;
      font-size: 9px;
      border-radius: 6px;
    }
  }
}
