@use 'utils';

.Adventure {
  background-image: url('/images/home/section-adventure/image-adventure1.jpg');
  height: 450px;
  background-position: 0% 35%;
  background-size: cover;
  position: relative;
  color: utils.$lightbrown;
  @include utils.breakpoint(mobile) {
    height: 250px;
    background-position: 0% 35%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__container {
    @include utils.container();
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 25px;
    @include utils.breakpoint(mobile) {
      gap: 15px;
    }
  }
  &__buttons {
    @include utils.flex(15px);
  }
}
