@use 'utils';

.Gallery {
  background-color: utils.$backgroundPrimary;
  &__container {
    @include utils.container();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-items: center;
    align-items: center;
    width: 80%;
  }
  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &--1 {
      grid-area: 1 / 1 / 3 / 2;
      height: 80vh;
    }
    &--2 {
      grid-area: 1 / 2 / 2 / 3;
      height: calc(40vh - 12.5px);
    }
    &--3 {
      grid-area: 2 / 2 / 3 / 3;
      height: calc(40vh - 12.5px);
    }
  }
}
