@use 'utils';

.CircuitStatistics {
  background-color: utils.$backgroundPrimary;
  color: utils.$darkbrown;
  padding: 25px 0;
  &__container {
    @include utils.container();
    @include utils.flex(50px);
    align-items: center;
    p:first-child {
      font-size: 15px;
      font-weight: bold;
    }
  }
  &__container-left {
    @include utils.flex(25px);
    flex-direction: column;
    width: 100%;
    .CircuitStatistics__container-information {
      font-size: 15px;
    }
  }
  &__container-right {
    @include utils.flex(25px);
    flex-wrap: wrap;
    width: 100%;
    div {
      width: calc(50% - 12.5px);
    }
    h1 {
      font-size: 88px;
    }
    p {
      font-weight: bold;
      font-size: 20px;
    }
    h1,
    p {
      border-left: 1px solid #000;
      padding: 0 25px;
    }
  }
}
