@use 'utils';

.Gallery-circuit {
  background-color: utils.$backgroundSecondary;
  color: utils.$darkbrown;
  &__container {
    @include utils.container();
  }
  &__title,
  &__text {
    text-align: center;
    margin-top: 25px;
  }
}
