@use 'utils';

.Discover {
  background-color: utils.$backgroundPrimary;
  font-size: utils.$fontSizeSmall;
  color: utils.$darkbrown;
  &__container {
    @include utils.container();
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  &__title,
  &__description {
    text-align: center;
  }
  &__description {
    width: 60%;
    @include utils.breakpoint(tablet) {
      width: 100%;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 50px;
    margin: 50px 0;
    @include utils.breakpoint(tablet) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 2fr);
    }
    @include utils.breakpoint(mobile) {
      display: none;
    }
  }

  &__slider {
    display: none;
    width: 100%;
    @include utils.breakpoint(mobile) {
      display: block;
      width: 100%;
    }
  }
}
