@use 'utils';
@use './CircuitsSlider';

.Circuits {
  background-color: utils.$backgroundPrimary;
      padding: 50px 0;
  &__infos {
    @include utils.containerWithoutPadding();
    @include utils.flex(60px);
    @include utils.breakpoint(mobile) {
      gap: 10px;
      flex-direction: column;
    }
  }
  &__title,
  &__description {
    flex: 1;
    color: utils.$darkbrown;
  }
  &__slider {
    margin-top: 50px;
  }
}
